*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.jobposting{
    width: 90%;
    height: auto;
    
    border-collapse: collapse;

    margin-left: auto;
    margin-right: auto;
}

.table-head{
    font-family: 'Inter';
    font-size: 15px;
    text-align: left;
    padding: 15px;
}

.table-row-head{
    background-color: #B80000;
    color:#FFFFFF;

    height: 30px;
}

thead, tbody{
    border: 2px solid #231F20;
    border-style: line;
}

.data{
    padding: 5px;
}

.sub-menu-wrap{
    position:absolute;
    right: 5%;

    width: 19%;
    max-height: 0px;

    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 410px;
}

.sub-menu{
    background-color: #B80000;
    padding: 20px;
    margin: 10px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h3{
    font-weight: 500px;
}

.user-info img{
    width: 70px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    
    font-family: 'Inter';
    color:#FFFFFF;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
}

.sub-menu-link img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform: translateX(5px)
}

.sub-menu-link:hover p{
    font-weight: 600;
}

.dropbtn {
    background-color:transparent;
    font-family: 'Inter';
    font-style: normal;
    text-align: left;
    font-weight: 700;
    color: white;

    margin-top:20px;
    border: none;
    
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
  
.dropdown{
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #231F20;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #B80000;
    color:#FFFFFF;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.drop{
    font-family:'Inter';
    text-decoration: none;
    font-weight: 400px;
    font-size: 12px;
}

.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: -10px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.header{
    width: 100%;
    position: relative;
    height: 80px;

    z-index: 3;
    background-image: url(images/footer.png);
}

.wrapper{
    float:left;
    width: 100%;
    height: auto;

    animation: transitionIn 7s;
}

.nav-bar{
    float: left;
    width: 15%;

    background-color: #ccc;
}

.body{
    border-top: 1px solid #B80000;
    height: 1000px;

    background-color:#f3f2f2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-nav-bar{
    position: relative;
    width: 100%;
    left: 3%;
    z-index: 1;
}

nav:hover ~ .content-nav-bar{
    transition: all 1s ease;
    left: 15%;
    width: 85%; 

}

.container{
    background-color: #FFFFFF;
    height: auto;
    width: 100%;
    height: 700px;

    font-family: 'Inter';
    text-align: left;
    font-size: 12px;
    padding: 50px;

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer{
    background-image: url(images/footer.png);
    float: left;

    text-align: center;

    width: 100%; 
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome{
    font-family: 'Inter';
    font-size: 60px;
    font-weight: 600;
    padding: 100px;

    margin-left: auto;
    margin-right: auto;


    color:#FFFFFF;
    text-align: center;

    text-shadow: 5px 5px #4e4e4e;
}

.bg-image{
    background: url(images/background.png);
    position: relative;

    width: 100%;
    height: 300px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform:rotateX(-5deg)
    }
    
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 78.08px;
    height: 75px;
}

h1{
    width: 600px;
    height: 68px;

    font-family: 'Inter';
    font-style: normal;
    text-align: left;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;

    margin-top: 6px;

    color: #FFFFFF;
}

h2{
    font-size: 20px;
}

h3{
    margin-top: 10px;
    margin-left: -3%;
    text-align: justify;
    color:#FFFFFF;
}

.contacts{
    text-align: justify;
    margin-right: 5%;
}

.footer-div{
    padding: 3%;
    width: 20%;
    height: auto;
    float: left;
    color: #ffffffa1;
    font-family: 'Inter';
    font-style: normal;
    text-align: justify;
    font-size: 16px;
    line-height: 20px;
}

nav{
    position: absolute;
    background: #B80000;
    z-index: 2;

    height: auto;
    width: 3%;
    left: 0;
    top: 80px;

    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgb(0, 0, 0, 0.1);
}

.fa-solid{
    position:relative;
    width: 15%;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}

nav a{
    position: relative;
    color: white;
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;

    font-family: 'Inter';
}

.head-nav{
    background: #ffffff;
    transition: .5s;
    color: black;
}

nav a.active,nav a:hover{
    background: #ffffff;
    transition: .5s;
    color: black;
    box-shadow: none;
}

nav:hover{
    width: 15%;
    transition: all 1s ease;
}

@media only screen and (max-width: 768px) {

    .logo{
        position: absolute;
        width: 58.08px;
        height: 55px;
        left: 15px;
    }

    #extra{
        display: none;
    }

    h1{
        width: 230px;
        height: 10px;
        margin-left: 10%;

        font-family: 'Inter';
        font-style: normal;
        text-align: left;
        font-size: 12px;

        color: #FFFFFF;
    }

    .mainlink{
        text-decoration: none;
    
        font-family: 'Inter';
        font-style: normal;
        text-align: center;
        font-weight: bold;
        float: left;
    
        color: #FFFFFF;
    }
}

@media only screen and (max-width: 768px) {

    .wrapper{
        width: 700px;
    }

    .logo{
        position: absolute;
        width: 58.08px;
        height: 55px;
        left: 15px;
    }

    #extra{
        display: none;
    }

    h1{
        width: 230px;
        height: 10px;
        margin-left: 10%;

        font-family: 'Inter';
        font-style: normal;
        text-align: left;
        font-size: 12px;

        color: #FFFFFF;
    }

    .mainlink{
        text-decoration: none;
    
        font-family: 'Inter';
        font-style: normal;
        text-align: center;
        font-weight: bold;
        float: left;
    
        color: #FFFFFF;
    }
}