div.center{
    margin: auto;
    width: 450px;
    height: 450px;
    padding: 10px;

    background: rgba(255, 255, 255, 0.9);
    box-shadow: 10px 30px 55px rgba(0, 0, 0, 0.25);
}

div.center:hover{
    z-index: 100;
    animation: scale 0.4s linear;
    animation-fill-mode: forwards;
}

.wrapper{
    width: 100%;
    padding: 200px 0px;
}

/* UE Logo */
.logo{
    display: block;
    width: 78.08px;
    height: 75px;
    margin:auto;
    margin-top: 10px;
}

/* Online Job Application */
.title{
    display: block;
    margin-top: 2%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    height: 24px;

    font-family: 'Inter';
    text-align:center;
    font-weight: 1000;
    font-size: 24px;
}

/* University of the East - Caloocan */
.school{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10px;

    font-family: 'Inter';
    text-align:center;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}



/* Login as Applicant or Register */
.head3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10px;

    font-family: 'Inter';
    text-align:center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

/* registration ID */
.textbox{
    display: block;
    width: 250px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
    padding: 10px;

    font-family: 'Inter';
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(88, 88, 88, 0.5);
}

.code{
    width: 129px;
    height: 40px;

    font-family: 'Inter';
    text-align: left;
    font-size: 11px;
    padding: 10px;
    
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(88, 88, 88, 0.5);
}

.sendcode{
    display: block;
    width: 140px;
    height: 40px;
    padding: 10px;

    font-family: 'Inter';
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
}

.float-container {
    display: block;
    width: auto;
    height: 40px;
    margin-left: 22%;
}

.float-child {
    width: 38%;
    float: left;
}  

/* Sign in */

.signin{
    box-sizing: border-box;
    
    display: block;
    margin-left: 0%;
    margin-top: 10px;
    width: 111px;
    height: 30px;

    font-family: 'Inter';
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    background: #E19494;
    border: 1px solid #C56161;
    border-radius: 25px;
}

.apply{
    box-sizing: border-box;
    
    display: block;
    margin-left: 0%;
    margin-top: 5px;
    padding: 4%;
    width: 111px;
    height: 30px;

    font-family: 'Inter';
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color:black;
    text-decoration: none;

    background: #DFDFDF;
    border: 1px solid #8b8b8b;
    border-radius: 25px;
}

.apply:hover{
    z-index: 100;
    animation: scale 0.4s linear;
    animation-fill-mode: forwards;
}

@keyframes scaledown {
    0%{
        -webkit-animation: scale(1.1);
        transform: scale(1.1);
    }
    100%{
        -webkit-animation: scale(1.0);
        transform: scale(1.0);
    }
}

@keyframes scale {
    0%{
        -webkit-animation: scale(1.0);
        transform: scale(1.0);
    }
    100%{
        -webkit-animation: scale(1.1);
        transform: scale(1.1);
    }
}

.signin:hover{
    z-index: 100;
    animation: scale 0.4s linear;
    animation-fill-mode: forwards;
}

.rem{
    box-sizing: border-box;

    margin-left: 0%;
    margin-top: 10%;
    width: auto;
    height: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #676666;
}

.forgot{
    display: block;
    width: 140px;
    height: 20px;

    font-family: 'Inter';
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
}

input[type=text]#modal, select {
    width: 80%;
    padding: 12px 16px;
    margin: 0px 0px 6px 10%;
    background-color: #FFFFFF;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email], select {
    width: 80%;
    padding: 12px 16px;
    margin: 0px 0px 6px 10%;
    background-color: #FFFFFF;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.next{
    display: inline-block;
    width: 80%;
    background-color: #4CAF50;
    color: white;

    text-decoration: none;
    padding: 14px 20px;
    margin-left: 10%;

    border: none;
    border-radius: 4px;
    cursor: pointer;

    font-family: 'Inter';
    font-weight: 400px;
    text-align: center;
    font-size: 12px;
}

.next:hover {
    background-color: #45a040;
}

.next:active{
    background-color: #627264;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    padding: 100px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
  
  /* Modal Body */
.modal-body {
    padding: 2px 16px;
}
  
  /* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
  
  /* Modal Content */
.modal-content {
    position: relative;
    background-color: #ffffff;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 700px;
    height: 700px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 3%;

    font-family: 'Inter';

    animation-name: animatetop;
    animation-duration: 1s
}

input:hover{
    z-index: 100;
    animation: scale 0.4s linear;
    animation-fill-mode: forwards;
}

.close {
    color: #aaaaaa;
    margin: 0 0 0 auto;
    font-size: 28px;
    font-weight: bold;
    padding-right: 10px;
    text-align: right;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popup{
    width: 400px;
    background: #FFFFFF;
    border-radius: 10px;
    position:absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;

    box-shadow: 1px 1px 1px rgb(158, 158, 158);

    font-family: 'Inter';

    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: #6fd649;
    color: #ffffff;
    border: 0;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@media only screen and (max-width: 465px) {
    .wrapper{
        width: 100%;
        padding: 0px;
    }

    input[type=text]#modal, select {
        width: 70%;
        padding: 12px 16px;
        margin: 0px 0px 6px 15%;
    }
    
    input[type=email], select {
        width: 70%;
        padding: 12px 16px;
        margin: 0px 0px 6px 15%;
    }

    .next{
        width: 70%;
        margin: 0px 0px 6px 15%;
    }

    .modal-content{
        width: 600;
    }
}