*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.jobposting{
    width: 90%;
    height: auto;
    border-collapse: collapse;

    margin-left: auto;
    margin-right: auto;
}

.table-head{
    font-family: 'Inter';
    font-size: 15px;
    text-align: left;
    padding: 15px;
}

.table-row-head{
    background-color: #B80000;
    color:#FFFFFF;

    height: 30px;
}

.data{
    padding: 5px;
}

.sub-menu-wrap{
    position:absolute;
    right: 10%;

    width: 320px;
    max-height: 0px;

    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background-color: #B80000;
    padding: 20px;
    margin: 10px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h3{
    font-weight: 500px;
}

.user-info img{
    width: 70px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    
    font-family: 'Inter';
    color:#FFFFFF;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
}

.sub-menu-link img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform: translateX(5px)
}

.sub-menu-link:hover p{
    font-weight: 600;
}

.dropbtn {
    background-color:transparent;
    font-family: 'Inter';
    font-style: normal;
    text-align: left;
    font-weight: 700;
    color: white;

    margin-top:20px;
    border-right: 2px #FFFFFF;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
    border-style:solid;
    
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
  
.dropdown{
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #231F20;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #B80000;
    color:#FFFFFF;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.drop{
    font-family:'Inter';
    text-decoration: none;
    font-weight: 400px;
    font-size: 12px;
}

.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: -10px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.header{
    width: 100%;
    position: block;
    height: 80px;
    background-image: url(images/footer.png);
}

.wrapper{
    width: auto;
    height: auto;

    animation: transitionIn 3s;
}

.details-body{
    background-color:#f3f2f2;
    height: 1600px;
    padding:70px
}

.container{
    float: left;
    background-color: #FFFFFF;
    border-right:  5px double rgb(148, 29, 29); 
    width: 60%; 
    height: auto;

    margin: 5px;
    font-family: 'Inter';
    text-align: left;
    font-size: 12px;
    padding: 40px 50px 80px 50px;

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.container2{
    float:right;
    background-color: #B80000;
    width: auto; 
    height: auto;

    font-family: 'Inter';
    text-align: left;
    font-size: 12px;
    padding: 40px;
    
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.container2 p{
    color:#FFFFFF;
    width: 400px;
    text-align: justify;
}

.sticky {
    position: fixed;
    width: 100%;
    margin-top: 0px;
}

.footer{
    background-image: url(images/footer.png);
    float: left;

    text-align: center;

    width: 100%; 
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome{
    font-family: 'Inter';
    font-size: 60px;
    font-weight: 600;
    padding: 100px;

    margin-left: 100px;
    color:#FFFFFF;
    text-align: center;

    text-shadow: 5px 5px #4e4e4e;
}

.bg-image{
    background: url(images/background.png);

    width: 100%;
    height: 300px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform:rotateX(-2deg)
    }
    
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 78.08px;
    height: 75px;
}

h1{
    width: 600px;
    height: 68px;

    font-family: 'Inter';
    font-style: normal;
    text-align: left;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;

    margin-top: 6px;

    color: #FFFFFF;
}

h2{
    font-size: 20px;
}

.mainlink{
    margin-top:5px;
    text-decoration: none;
}


.slide-images{
    width: 1800px;
    height: 400px;
    margin: 0 0 0 0px;
    display:contents;
}

.img-container{
    height: auto;
    width: 400px;
    float: left;
}

.border-img{
    overflow: hidden;
    width: 400px;
}

.img-style{
    width: 400px;
    height: auto;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h3{
    margin-top: 10px;
    margin-left: -3%;
    text-align: justify;
    color:#FFFFFF;
}

.contacts{
    text-align: justify;
    margin-right: 5%;
}

.footer-div{
    padding: 3%;
    width: 25%;
    height: auto;
    float: left;
    color: #ffffffa1;
    font-family: 'Inter';
    font-style: normal;
    text-align: justify;
    font-size: 16px;
    line-height: 20px;
}

@media only screen and (max-width: 900px) {
    
    .wrapper{
        width: 1903px;
        height: auto;
    
        animation: transitionIn 3s;
    }

    .logo{
        position: absolute;
        width: 58.08px;
        height: 55px;
        left: 15px;
    }

    h1{
        width: 230px;
        height: 10px;
        margin-left: 10%;

        font-family: 'Inter';
        font-style: normal;
        text-align: left;
        font-size: 12px;

        color: #FFFFFF;
    }

    .mainlink{
        text-decoration: none;
    
        font-family: 'Inter';
        font-style: normal;
        text-align: center;
        font-weight: 700;
        line-height: 34px;
        float: left;
        margin-left: 10px;
    
        color: #FFFFFF;
    }

    .links{
        display: none;
    }
}

@keyframes slide_animation{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:-600px;}
    30% {left:-600px;}
    40% {left: -1200px;}
    50% {left: -1200px;}
    60% {left: -600px;}
    70% {left: -600px;}
    80% {left: 0px;}
    90% {left: 0px;}
    100% {left:0px;}
}

@-webkit-keyframes slide_animation{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:-600px;}
    30% {left:-600px;}
    40% {left: -1200px;}
    50% {left: -1200px;}
    60% {left: -600px;}
    70% {left: -600px;}
    80% {left: 0px;}
    90% {left: 0px;}
    100% {left:0px;}
}
