@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body{
    width: 100%;
    height:max-content;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

nav{
    background: #B80000;
    position:relative;
    top: 0;
    height: 80px;
    width: 100%;
}

label img{
    float:left;
    margin-left: 5%;
    margin-top: 5px;
    width: 70px;
}

label.logo{
    font-weight: 800;
    background-image: linear-gradient(to right, #ffffff, #999999);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

    font-family: 'Inter';
    font-size: 35px;
    line-height: 80px;
    padding: 0 1%;
}

nav ul{
    float: right;
    z-index: 1;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active,nav ul li a:hover{
    text-decoration: underline white;
    transition: .5s;
    color: white;
}

.checkbtn{
    font-size: 30px;
    color: white;

    float:right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0;

    text-align: center;

    background-color: rgb(233, 233, 233);
    width: 100%;
}

.container h1{
    color:black;
    text-shadow: 2px 2px 1px #353535;
    font-size: 50px;
    font-family: 'Barlow', sans-serif;
}

#check{
    display: none;
}

.divider{
    width: 100%;
}

section{
    background: white;
}

.data-table tr{
    background-color: white;
    height: 100px;
    display: block;
    color: black;
    border: 1px solid black;
    margin-bottom: 15px;
}

.data-table tr:hover{
    background-color: #b80000;
    color: white;
    margin-bottom: 15px;
    cursor: pointer;
}

.sub-menu-wrap{
    position:absolute;
    right: 0%;

    max-height: 0px;

    z-index: 1;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 500px;
}

.sub-menu{
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
}


.user-info{
    display: flex;
    align-items: center;
}

.user-info img{
    width: 70px;
    border-radius: 50%;
    margin-right: 15px;
}

input:hover{
    z-index: 100;
    animation: scale 0.4s linear;
    animation-fill-mode: forwards;
}

.footer{
    background-image: url(../images/footer2.png);

    text-align: center;

    width: 100%; 
    height: 100px;
    background-position:left;
    background-repeat: no-repeat;
    background-size: cover;
}

.container2{
    padding: 15px;
}

.container2 h2{
    text-align: center; 
    font-size: 70px;
    padding: 10px;
    color:#ffffff;
    text-shadow: 2px 2px 3px #000000;

    border-radius: 15px;
    background-image: url(../images/Image\ Slide\ 1.jpg);
    background-repeat:repeat-y;
    background-position: center;
}

main{
    margin-top: 1.4rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

main .date{
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .insights{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .insights > div{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights > div:hover{
    box-shadow: none;
}

main .insights > div span{
    background: coral;
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

main .insights > div .middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3{
    margin: 1rem 0 0 0;
    font-size: 1rem;
}

main .insights .progress{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .insights svg{
    width: 7rem;
    height: 7rem;
}

main .insights svg circle{
    fill:none;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: -110;
    stroke-dashoffset: 110;
}

main .insights .applicants1 svg circle{
    stroke-dashoffset: -220;
    stroke-dasharray: 250;
}

main .insights .applicants2 svg circle{
    stroke-dashoffset: -190;
    stroke-dasharray: 250;
}

main .insights .progress .number{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}